{% extends 'base.html.twig' %}

{% block title %} {{ product.name }}{% endblock %}

{% block body %}
    <table border="1">
        <thead>
        <tr>
            <td>{{ 'product.Picture'|trans }}</td>
            <td>{{ 'product.Name'|trans }}</td>
            <td>{{ 'product.Quantity'|trans }}</td>
            <td>{{ 'product.Price'|trans }}</td>
        </tr>
        <tbody>
            <tr>
                <td> <img src="{{ asset('/uploads/'~product.picture) }}" alt="" width="256px"> </td>
                <td><a href="{% if route_attr =='fr' %}/fr{% else %}/en{% endif %}/product/{{ product.id }}"> {{ product.name }} </a></td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
        </thead>
    </table>

    <a href="{{ path('delete_product', {id:product.id}) }}">{{ 'product.delete'|trans }}</a>



    {{ form(form_add_cart) }}
{% endblock %}
